{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <h1>Créer un produit</h1>

    {{ include('admin/product/_form.html.twig') }}

    <a href="{{ path('admin_product_index') }}">Retour au dashboard</a>
{% endblock %}
